.place__title {
  align-self: end;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
}

@media screen and (max-width:1024px) {
  .place__title {
    font-size: 7.1vw;
    line-height: 7.3vw;
  }
}

@media screen and (max-width:768px) {
  .place__title {
    font-size: 5.5vw;
    line-height: 5.7vw;
  }
}

@media screen and (max-width:320px) {
  .place__title {
    font-size: 10.1vw;
    line-height: 1;
  }
}
