.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 13px 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .gallery {
    gap: 8.6px;
  }
}
