.intro {
  max-width: 690px;
  padding: 92px 0 0 100px;
}

@media screen and (max-width:1024px) {
  .intro {
    padding: 92px 0 0;
  }
}

@media screen and (max-width:768px) {
  .intro {
    max-width: 94%;
    padding: 89px 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 89%;
    padding: 65px 0 0 16px;
  }
}
