.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  max-width: 83.1%;
}

.place:not(:first-child) {
  margin: 80px 0 0 0;
}

@media screen and (max-width:1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    max-width: calc(100% - 92px);
    gap: 48px 32px;
  }
}

@media screen and (max-width:900px) {
  .place {
    grid-template-columns: 360px 1fr;
  }
}

@media screen and (max-width:768px) {
  .place {
    grid-template-columns: 340px 1fr;
    max-width: calc(100% - 48px);
    gap: 6.2vw 3.4vw;
  }

  .place:not(:first-child) {
    margin: 72px 0 0 0;
  }
}

@media screen and (max-width: 631px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 100%;
  }

  .place:not(:first-child) {
    margin: 51px 0 0 0;
  }
}
